<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRemoteRecorderManagement">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ISessionManagement">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IUserManagement">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IUsageReporting">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ISessionManagement1" />
                <binding name="BasicHttpBinding_IRemoteRecorderManagement1" />
                <binding name="BasicHttpBinding_IUsageReporting1" />
                <binding name="BasicHttpBinding_IUserManagement1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://demo.hosted.panopto.com/Panopto/PublicAPI/4.6/SessionManagement.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISessionManagement"
                contract="SessionManagement.ISessionManagement" name="BasicHttpBinding_ISessionManagement" />
            <endpoint address="http://demo.hosted.panopto.com/Panopto/PublicAPI/4.6/SessionManagement.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISessionManagement1"
                contract="SessionManagement.ISessionManagement" name="BasicHttpBinding_ISessionManagement1" />
            <endpoint address="https://demo.hosted.panopto.com/Panopto/PublicAPI/4.2/RemoteRecorderManagement.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRemoteRecorderManagement"
                contract="RemoteRecorderManagement.IRemoteRecorderManagement"
                name="BasicHttpBinding_IRemoteRecorderManagement" />
            <endpoint address="http://demo.hosted.panopto.com/Panopto/PublicAPI/4.2/RemoteRecorderManagement.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRemoteRecorderManagement1"
                contract="RemoteRecorderManagement.IRemoteRecorderManagement"
                name="BasicHttpBinding_IRemoteRecorderManagement1" />
            <endpoint address="https://demo.hosted.panopto.com/Panopto/PublicAPI/4.2/UsageReporting.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsageReporting"
                contract="UsageManagement.IUsageReporting" name="BasicHttpBinding_IUsageReporting" />
            <endpoint address="http://demo.hosted.panopto.com/Panopto/PublicAPI/4.2/UsageReporting.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsageReporting1"
                contract="UsageManagement.IUsageReporting" name="BasicHttpBinding_IUsageReporting1" />
            <endpoint address="https://demo.hosted.panopto.com/Panopto/PublicAPI/4.2/UserManagement.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserManagement"
                contract="UserManagement.IUserManagement" name="BasicHttpBinding_IUserManagement" />
            <endpoint address="http://demo.hosted.panopto.com/Panopto/PublicAPI/4.2/UserManagement.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserManagement1"
                contract="UserManagement.IUserManagement" name="BasicHttpBinding_IUserManagement1" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
